<ion-header>
  <ion-navbar color="ppgreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Plant Parenthood</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-notifications"><ion-badge item-right color="ppred">1</ion-badge></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card-background-page">
    <ion-card>
      <img src="../../assets/img/back3.jpg"/>
      <div class="card-title">Good morning, John!</div>
      <div class="card-subtitle">You've been great at taking care of your plants this week. Congratulations!</div>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      At-a-glance
    </ion-card-header>
    <ion-card-content>
      Your plant care score is:
    </ion-card-content>
  </ion-card>

  <p>
    Dev testing section
  </p>

  <button ion-button (click)="getSensorData()">Get Sensor Data</button>
  <button ion-button (click)="getPlantData()">Get Plant Data</button>

  <button ion-button secondary menuToggle>Toggle Menu</button>

  <ion-list>
    <button ion-item *ngFor="let datapt of sensordata">
      {{ datapt.SensorDataID }}
    </button>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let datapt of plantdata">
      {{ datapt.PlantName }}
    </button>
  </ion-list>
</ion-content>
