<ion-header id="header-main">
  <main-header></main-header>
</ion-header>

<ion-content padding>
  <div class="top-content">
    <h1>Good morning, Tom</h1>
    <p>You have {{numPlants}} plants and {{numDevices}} devices connected. Everything looks great today!</p>
  </div>

  <div class="automatic-caring">
      <ion-row>
        <ion-col col-10><h2>Automatic caring</h2></ion-col>
        <ion-col col-2><ion-toggle checked="false"></ion-toggle></ion-col>
      </ion-row>
  </div>

  <div class="content-placeholder"></div>

  <div class="notifications-section">
    <h2>Notifications</h2>
    <div class="notification">
      <p text-center>You don't have any new notifications.</p>
    </div>
  </div>

  <p>

    Dev testing section
    <progress-bar [progress]="20"></progress-bar>
  </p>

  <button ion-button (click)="getSensorData()">Get Sensor Data</button>
  <button ion-button (click)="getPlantData()">Get Plant Data</button>

  <button ion-button secondary menuToggle>Toggle Menu</button>

  <ion-list>
    <button ion-item *ngFor="let datapt of sensordata">
      {{ datapt.SensorDataID }}
    </button>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let datapt of plantdata">
      {{ datapt.PlantName }}
    </button>
  </ion-list>
</ion-content>
