page-home {

  .top-content {
    padding-top: 40px;
    h1 {
      font-weight: bold;
    }
    p {
      -webkit-margin-before: 0.4em;
      -webkit-margin-after: 0.4em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
  }

  .automatic-caring {
    padding-top: 20px;
    h2 {
      font-weight: bold;
      font-size: 1.4em;
      margin: 0 !important;
      padding-top: 0.4em;
    }
    p {
      -webkit-margin-before: 0.4em;
      -webkit-margin-after: 0.4em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
  }

  .content-placeholder {
    height:185px;
    width:100%;
    background-color: map-get($colors, pplightestgrey);
    @include border-radius(5px);
  }

  .notifications-section {
    padding-top: 20px;
    h2 {
      font-weight: bold;
      font-size: 1.4em;
      //margin: 0 !important;
      padding-top: 0.4em;
    }
    p {
      font-size: 1.1em !important;
      color: map-get($colors, pplightestgrey) !important;
    }
    .notification {
      border-color: map-get($colors, pplightestgrey);
      border-style: solid;
      border-width: 1px;
      @include border-radius(5px);
    }
  }

}
