<ion-header id="header-main">
  <main-header></main-header>
</ion-header>


<ion-content>
  <div class="top-spacer">

  </div>

  <div class="plant-box" *ngFor="let device of extendeddevicedata">
    <ion-row>
      <ion-col col-4 text-center class="plant-col">
        <span class="helper"></span><img src="./assets/img/device1.png" class="status-green">
      </ion-col>
      <ion-col col-8 class="plant-info-col">
        <div>
          <h1>{{device.device.DeviceName}}</h1>
          <h2>{{device.device.DeviceType}}</h2>
          <p>Monitoring: {{device.plantname}}</p>
          <p>Battery status: {{device.device.BatteryLevel}}%</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <!--<ion-card>
    <ion-card-header color="ppgreen">
      Devices currently owned:
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let device of extendeddevicedata">
        <ion-thumbnail item-left>
          <img src="./assets/img/device1.png">
        </ion-thumbnail>
        <h2>{{device.device.DeviceName}}</h2>
        <p>{{device.device.DeviceType}}</p>
        <p>Monitoring: {{device.plantname}}</p>
        <p>Battery status: {{device.device.BatteryLevel}}%</p>
        <button ion-button clear item-right>View</button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="ppgreen"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="md-wifi"></ion-icon></button>
      <button ion-fab><ion-icon name="md-leaf"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>
