<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar color="bgdarkgreen" class="menu-header">
        <img src="./assets/img/tomjerry.png">
      <h1>Tom Jerry</h1>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content-custom">

    <ion-item-group class="menu-items">

      <button menuClose ion-item *ngFor="let p of upperPages" (click)="openPage(p)">
        {{p.title}}
      </button>

    </ion-item-group>

    <!--
    <ion-list>
      <ion-list no-lines>
        <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          {{ item }}
        </button>
      </ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>-->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
